@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --light-blue: #282f45;
    --dark-blue: #040c25;
}

@layer utilities {
    @variants {
      .bg-gradient-dark {
        background: -webkit-linear-gradient(180deg, var(--light-blue), var(--dark-blue));
        background: linear-gradient(180deg, var(--light-blue), var(--dark-blue));
        color: rgb(255 255 255 / .7);

    }

      .bg-gradient-light {
        background: -webkit-linear-gradient(180deg, #edf2fb,#e2eafc,#d7e3fc,#c1d3fe);
        background: linear-gradient(180deg, #edf2fb,#e2eafc,#d7e3fc,#c1d3fe);
      }

      .gradient-blue {
        background: -webkit-linear-gradient(180deg, #f2feff,#e8ffff);
        background: linear-gradient(180deg, #f2feff,#e8ffff);
      }
  }
}